<a href="https://colab.research.google.com/github/kuo-yu-chen/fin-data/blob/main/%E8%A8%88%E7%AE%97%E7%B4%AF%E8%A8%88%E6%95%B8%E5%AD%97.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

台肥累計數字計算

In [18]:
Q1 = 3433462

In [19]:
Q2 = 6031135

In [20]:
Q3 = 2918197

In [21]:
Q4 = 2631994

In [22]:
ACC_Q1 = Q1
print (ACC_Q1)

3433462

In [24]:
ACC_Q2 = Q1 + Q2
print(ACC_Q2)

9464597

In [25]:
ACC_Q3 = Q1 + Q2 + Q3
print(ACC_Q3)

12382794

In [26]:
ACC_Q4 = Q1 + Q2 + Q3 + Q4
print(ACC_Q4)

15014788

毛寶累計數字計算

In [27]:
Q1 = 135320

In [28]:
Q2 = 153375

In [29]:
Q3 = 128952

In [30]:
Q4 = 136612

In [31]:
ACC_Q1 = Q1
print (ACC_Q1)

135320

In [32]:
ACC_Q2 = Q1 + Q2
print(ACC_Q2)

288695

In [33]:
ACC_Q3 = Q1 + Q2 + Q3
print(ACC_Q3)

417647

In [34]:
ACC_Q4 = Q1 + Q2 + Q3 + Q4
print(ACC_Q4)

554259